:root {
  --header-color: linear-gradient(135deg, #2c5c68, #0a304d);
  --search-border-color: rgb(170, 183, 184);
  --main-font-color: rgb(84, 91, 100);
  --blue-color: rgb(0, 115, 187);
  --green-color: rgb(29, 129, 2);
  --red-color: rgb(209, 50, 18);
  --yellow-color: rgb(255, 153, 0);
  --orange-color: rgb(236, 114, 17);
  --main-color: #58a7c9;
  --dark-color: #396d82;
  --medium-color: #8eb4c4;
  --point-color: #79b1b3;
  --light-color: #d3e1e6;
  --thead-bg: rgb(250, 250, 250);
  --body-bg: rgb(242, 243, 243);
  --table-border: rgb(243, 237, 237);
  --dark-font-color: rgb(22, 25, 31);
}

.css-1y6bmgx {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app bar */
.MuiAppBar-root {
  height: 45px;
  background: var(--header-color) !important;
}

.MuiAppBar-positionFixed {
  padding: 0 !important;
}

/* table */

.MuiTableContainer-root {
  border-radius: 2px !important;
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
    1px 1px 1px 0 rgba(0, 28, 36, 0.15), -1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15) !important;
  border-top: 1px solid rgb(234, 237, 237);
}

.MuiTableCell-root {
  padding: 0 !important;
  padding-bottom: 0 !important;
  line-height: 0 !important;
}
.logtable .MuiTableCell-root {
  padding: 5px !important;
  padding-bottom: 0 !important;
  line-height: 3.5 !important;
  font-size: 14px !important;
  padding-left: 10px !important;
}

.MuiTableCell-head {
  background-color: var(--thead-bg) !important;
  font-weight: 700 !important;
  color: var(--main-font-color) !important;
  font-size: 13.5px !important;
  border-bottom: 1px solid var(--table-border) !important;
  border-top: 1px solid var(--table-border) !important;
}

.MuiTableCell-head .title {
  width: 100%;
  padding: 0px 0px 0px 8px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 13px 0;
  border-right: 1px solid var(--main-font-color);
  /* display: inline; */
}

.MuiTableCell-head:first-child .title {
  border-right-color: var(--table-border) !important;
}

.MuiTableCell-head:last-child .title {
  border: none !important;
}

.MuiTableRow-root {
  background-color: white !important;
}

.MuiTableCell-body {
  color: rgb(22, 25, 31) !important;
  font-size: 13px !important;
  border-bottom: 1px solid var(--table-border) !important;
  padding-left: 16px !important;
}

button {
  border-radius: 2px !important;
  height: 28px !important;
  box-shadow: none !important;
}

.MuiChip-deleteIcon {
  font-size: 20px !important;
}

/* paper */

.paper-grid {
  border-radius: 2px !important;
  padding: 1.2rem;
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, 0.3),
    1px 1px 1px 0 rgba(0, 28, 36, 0.15), -1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    0 1px 1px 0 rgba(0, 28, 36, 0.3), 1px 1px 1px 0 rgba(0, 28, 36, 0.15),
    -1px 1px 1px 0 rgba(0, 28, 36, 0.15) !important;
  border-top: 1px solid rgb(234, 237, 237);
  background-color: white;
}

.paper-grid .MuiOutlinedInput-root {
  height: 37.13px;
}

.multiline .MuiOutlinedInput-root {
  height: 100%;
}

/* button */
.MuiButton-outlined {
  border-color: var(--main-font-color) !important;
  color: var(--main-font-color) !important;
}

/* input */
.buAutocomplete .MuiOutlinedInput-root {
  height: 30px;
}
.MuiOutlinedInput-root {
  /* height: 30px; */
  padding: 0 !important;
  font-size: 14px !important;
  padding-left: 5px !important;
  padding-right: 13px !important;
}

.select .MuiInputLabel-root {
  margin-top: -8px;
}

.MuiTableCell-root .MuiOutlinedInput-root {
  height: 30px !important;
}

.MuiTableCell-root .MuiOutlinedInput-root input {
  padding: 0 !important;
}

label.Mui-focused {
  color: var(--blue-color) !important;
  margin-top: 0 !important;
}

.datepicker input {
  width: 50px !important;
}

.Mui-focused fieldset {
  border-width: 2px !important;
  border-color: var(--blue-color) !important;
}

.MuiInputLabel-root {
  color: var(--dark-font-color) !important;
  font-size: 14px !important;
  padding-left: 3px !important;
  font-weight: 600 !important;
}

.MuiFormControl-root-MuiTextField-root {
  height: 50px !important;
}

fieldset {
  border: 1.5px solid var(--search-border-color) !important;
  border-radius: 2px !important;
}

/* scoring table */
.scoring_table .MuiTableCell-root {
  line-height: 2.3 !important;
  text-align: center;
  font-size: 12.5px;
  border-right: 1px solid var(--table-border) !important;
}

.scoring_table .MuiTableCell-root:last-child {
  border-right: none;
}

.scoring_table .MuiTableCell-body {
  padding-left: 0 !important;
}

/* ----------------------- */

/* preview table */
.preview_table .MuiTableCell-root {
  line-height: 1.2 !important;
  text-align: center !important;
  font-size: 12.5px !important;
  border-right: 1px solid var(--table-border) !important;
  padding: 0.7rem !important;
}

.preview_table .MuiTableCell-root:last-child {
  border-right: none !important;
}

.preview_table .no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.preview_table .title {
  font-weight: 700 !important;
  width: 40% !important;
}

.preview_card {
  border-radius: 4px !important;
  border: 1px solid var(--table-border);
  box-shadow: 0 0 2px 0 rgb(145 158 171 / 20%),
    0 12px 24px -4px rgb(145 158 171 / 12%);
}

/* ------ */

.player {
  width: 640px;
  height: 403px;
  position: relative;
  margin: 50px auto;
}

.video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 43px;
}

.control {
  float: left;
  padding: 0 10px;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px 0 13px;
}

.control a {
  text-decoration: none;
  color: #000000;
}

.progress-container {
  position: absolute;
  left: 43px;
  right: 79px;
  width: auto;
}

.volume,
.fullscreen {
  float: right;
}

.MuiBox-root:has(.logModal) {
  height: 100vh;
}

.MuiDivider-root {
  font-size: 14px;
}

.MuiDivider-root::before {
  width: 2% !important;
}
.MuiDivider-root::after {
  width: 98% !important;
}

.pagination {
  max-width: 720px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
  /* border: 1px solid var(--dark-color); */
  color: var(--dark-color);
  font-weight: 600;
  font-size: 14px;
}
.pagination a:hover {
  background-color: var(--light-color);
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: var(--dark-color);
  padding: 0.1rem 0.4rem;
  font-weight: 600;
  font-size: 14px;
}
.pagination__link--active a:hover {
  background: var(--dark-color);
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202);
  font-weight: 600;
  font-size: 14px;
  /* border: 1px solid rgb(198, 197, 202); */
}
/* preview table */
.preview_table .MuiTableCell-root {
  text-align: center;
  font-size: 12.5px;
  border-right: 1px solid var(--table-border);
}

.preview_table .MuiTableCell-root:last-child {
  border-right: none;
}

.preview_table .title {
  font-weight: 700;
  width: 40%;
}

.preview_card {
  border-radius: 4px !important;
  border: 1px solid var(--table-border);
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

.react-pdf__Page__textContent {
  display: none;
}

.react-pdf__Page__annotations {
  display: none;
}

.datadump-head-cell {
  max-width: 128px !important;
  /* white-space: normal !important; */
  line-height: 24px !important;
  padding: 0px 18px !important;
  /* text-align: center !important; */
  height: 48px;
  border-right: 1px solid rgb(230, 230, 230);
}

.datadump-body-cell {
  max-width: 128px !important;
  /* white-space: normal !important; */
  line-height: 24px !important;
  padding: 0px 18px !important;
  height: 36px;
  border-right: 1px solid rgb(230, 230, 230);
  /* text-align: center !important; */
}

.preview-head-cell {
  height: 48px !important;
  line-height: 18px !important;
  padding: 0px 18px !important;
  border-right: 1px solid rgb(230, 230, 230);
}

.preview-body-cell {
  max-width: 128px !important;
  line-height: 24px !important;
  padding: 0px 18px !important;
  height: 36px;
  border-right: 1px solid rgb(230, 230, 230);
}

.usercard-head-cell {
  height: 48px;
  line-height: 15px !important;
  padding: 0px 5px !important;
  border-right: 1px solid rgb(230, 230, 230);
  text-align: center !important;
}

.usercard-body-cell {
  text-align: center !important;
  height: 36px;
  line-height: 15px !important;
  padding: 0px 5px !important;
  border-right: 1px solid rgb(230, 230, 230);
}

.usercard-body-cell button {
  line-height: 0.9;
  height: 33px !important;
  font-size: 0.75rem;
  padding: 0 !important;
}

.MuiToolbar-root {
  min-height: 48px !important;
}

@media (min-width: 1200px) {
  .css-wo7aj4 {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .MuiAppBar-root {
    height: 45px !important;
  }

  .MuiToolbar-root {
    padding-left: 15px !important;
  }
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-8fy52g-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  padding-right: 45px !important;
}

/* chart */
.tooltip {
  z-index: 100;
}
.tooltip p {
  font-size: 12px;
  margin-bottom: 0.3rem;
  color: white;
  font-weight: 500;
}

.tooltip span {
  color: #ffcc00;
  font-weight: 600;
}

.tooltip::before {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #484848;
  content: '';
  position: absolute;
  top: -10px;
  left: 18px;
}

/* sortable tree */
.rst__rowContents {
  background-color: transparent !important;
}
.rst__rowContentsDragDisabled {
  background-color: transparent !important;
}
.rst__row .activated {
  background-color: #193433 !important;
}
.rst__row .inactivated {
  background-color: #193433 !important;
}

/* user status management filter */
#user-status-management-select {
  padding: 4px 8px 4px 0px;
  font-size: 12px;
}

.w-36 {
  width: 144px !important;
}

.h-12 {
  height: 48px !important;
}

.whitespace-normal {
  white-space: normal !important;
}

.lineHeight-18 {
  line-height: 18px !important;
}
